{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main__wrapper" role="main">
	<div class="main__left">
		<article class="site-intro">
			<div class="section-fixed">
				<h1 class="shuffle">Fernando Soares</h1>
				<h2><em>Designer de Interfaces</em></h2>
			</div>
		</article>
	</div>

	<div class="main__right">
		<div class="home__portfolio">
			<div class="portfolio__item">
				<section class="portfolio__content">
					<figure>
						<img src="/images/avatar-home.jpg" alt="Eu!">
					</figure>

					{{ .Content }}

				</section>
			</div>
		</div>
	</div>
</main>

{{ partial "footer.html" . }}