{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main about-page" role="main">
	<div class="page__wrap">
		<article>
			<p>ux designer especializado em ui. com mais de 10 anos de experiência na indústria, sou apaixonado por criar experiências digitais que resolvem problemas reais. </p>
		</article>
	</div>

	<section>
		<div class="page__wrap">
			<p>Com um sólido conhecimento dos princípios de design e desenvolvimento, sou capaz de transformar experiências em design limpo e fáceis de usar.</p>

			<p>Trabalhei em vários tipos de projetos, de pequenas startups à empresas de grande escala, desde landing pages à interfaces para óculos de realidade virtual. Tenho vasto conhecimento em ferramentas de design, como Adobe Suíte, Sketch e principalmente Figma. Proeficiência em tecnologias front-end, apaixonado por HTML e CSS.</p>

			<p>Como um T-Shape designer, minhas especialidades são: arquitetura de informação, wireframes, protótipos e visual.</p>

			<p>Me mantenho sempre atualizado das últimas tendências de design em UI, tecnologias e processos. Gosto de novos desafios e trabalhar com o time para dar vida ao produto da melhor forma possível.</p>

			<p>No meu tempo livre gosto de desenhar em <a href="https://instagram.com/frnd.pixels" target="_blank">pixel art</a>, <a href="/leituras">ler</a>, games, arranhar no contra-baixo e atividades fora do mundo digital.</p>

			<p><a href="https://read.cv/fer" target="_blank" class="btn-cv">Currículo ›</a></p>

		</div>
	</section>

	<div class="page__wrap">
		<h3>Contato</h3>
		<p>Entre em contato comigo através do email <a href="mailto:dotfernando@gmail.com">dotfernando @ gmail.com</a> :)</p>
	</div>
</main>

{{ partial "footer.html" . }}