{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main t-page t-page__about" role="main">
    <section class="about">
        <div class="article__wrap">
            <div class="half half--left">
                <h2>sobre</h2>
                <p>Meu nome é Fernando Soares e trabalho há 10 anos com design e desenvolvimento de interfaces.</p>

                <p>Desde landing pages à interfaces para óculus VR, meu foco é no design de interfaces inteligentes, balanceando funcionalidade com visual.
                Alio muito meu conhecimento em desenvolvimento front end com minha paixão por design, resultando em interfaces consistentes e focadas no usuário.</p>

                <p>Gosto muito de testar novas ideias e conceitos mas, principalmente, estudar o comportamento do usuário.</p>

                <p>Já trabalhei com variados segmentos e para empresas como Massey Fergusson, Valtra, RIC Record, Figueirense FC e Imobiliária Brognoli na grande Florianópolis.</p>

                <p>No meu tempo livre eu gosto muito de fazer barulho com o meu baixo e um pedal de fuzz e arrisco umas pequenas ilustrações em 3D.</p>
                
                <a download href="/uploads/curriculo-fernando-soares-min.pdf" title="baixe meu currículo">baixe meu currículo</a>
            </div>
        </div>
        <div class="wrap">
            {{ .Content }}
        </div>
    </section>

    <section class="mini-cv__timeline">
        <div class="wrap">
            <div class="half">
                <h3>experiência</h3>
                <ul class="static--list">
                    <li>
                        <h4>transformação digital</h4>
                        <p>2020 - atual</p>
                        <p>Performance/CRO - Front End</p>
                    </li>

                    <li>
                        <h4>mint_lab</h4>
                        <p>2019 - 2020</p>
                        <p>UX - UI - Front End - Wordpress</p>
                    </li>
                    <li>
                        <h4>Sábia Experience</h4>
                        <p>2016 - 2019</p>
                        <p>UX - UI - Front End Design - Wordpress</p>
                    </li>

                    <li>
                        <h4>Deon Sistemas</h4>
                        <p>2013 - 2015</p>
                        <p>UI Design - Front End - Wordpress</p>
                    </li>

                    <li>
                        <h4>Ação Direta Web Studio</h4>
                        <p>2012 - 2013</p>
                        <p>UI Design - Front End - Wordpress</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</main>

{{ partial "footer.html" . }}