{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main portfolio__container" role="main">

        <ul class="tab-buttons">
            <li><a class="select__item active" href="#trabalhos">Últimos Trabalhos</a></li>
            <li><a class="select__item" href="#visuais">Visuais</a></li>
        </ul>

        <section class="tab-content">
            
            <section id="trabalhos" class="item--content visible">
                <div class="tab-content--item">
                    <section class="portfolio__list portfolio__view--column">
                        {{ range where .Site.RegularPages ".Params.category" "works" }}
                        <article class="portfolio__item">
                            <a href="{{ .Permalink }}">
                                <figure>
                                    <img src="{{ .Params.featured_image}}" alt="{{ .Title }}">
                                </figure>
                                <h3>{{ .Title }}</h3>
                            </a>
                        </article>
                        {{ end }}
                    </section>
                </div>
            </section>

            <section id="visuais" class="item--content">
                <div class="tab-content--item">
                    <section class="portfolio__list portfolio__view--grid">
                        {{ range where .Site.RegularPages ".Params.category" "visuals" }}
                            <article class="portfolio__item">
                                <a href="{{ .Permalink }}">
                                    <figure>
                                        <img src="{{ .Params.featured_image}}" alt="{{ .Title }}">
                                    </figure>
                                    <h3>{{ .Title }}</h3>
                                </a>
                            </article>
                        {{end}}
                    </section>
                </div>
            </section>
        
        </section>

</main>

{{ partial "footer.html" . }}