{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main__wrapper" role="main">
    <div class="main__left">
        <article class="site-intro">
            <div class="section-fixed">
                <h1 class="shuffle">{{ .Title }}</h1>
                {{ if .Params.link }}
                <h2><a href="https://{{ .Params.link }}" target="_blank">{{ .Params.link }}</a></h2>
                {{ else }}
                <h2>
                    {{ .Params.cat }} 
                    {{ if .Params.status }}
                    - {{ .Params.status }}
                    {{ end }}
                </h2>
                {{ end }}
            </div>
        </article>
    </div>

    <div class="main__right">
        <div class="home__portfolio">
            <article class="portfolio__item">
                {{ .Content }}
            </article>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css" />

{{ partial "footer.html" . }}