{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main t-page notes-page" role="main">
	<div class="wrap">
		<h1 class="t-page__about__headline">{{ .Title }}</h1>
		<div class="article__wrap">
			<section class="notes__list">
			{{ range (.Pages.GroupByDate "2006") }}
				<h3 class="notes__list--year">{{ .Key }}</h3>
				{{ range (where .Pages "Type" "page") }}
				<article class="notes__article">
					<header role="banner" class="notes__header">
						<h2 class="notes__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
						<time class="notes__time">{{ .Date.Format "2 de Jan de 2006" }}</time>
					</header>
					<section class="article__summary">
						{{ .Summary }}
						{{ if .Truncated }}
						<a href="{{ .Permalink }}">Leia mais</a>
						{{ end }}
					</section>
				</article>
				{{ end }}
			{{ end }}
			</section>
		</div>
	</div>
</main>

{{ partial "footer.html" . }}