{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main__wrapper" role="main">
	<div class="main__left">
		<article class="site-intro">
			<div class="section-fixed">
				<h1 class="shuffle">{{ .Title }}</h1>
				<h2>Notas sobre meus estudos e/ou assuntos que gosto.</h2>
			</div>
		</article>
	</div>

	<div class="main__right">
		<div class="home__portfolio">
			{{ range (where .Site.Pages "Params.type" "post") }}
			<article class="portfolio__item">
				<header>
					<a href="{{ .Permalink }}" title="{{ .Title }}">
						<h3>{{ .Title }}</h3>
						<time>{{ .Date.Format "02.01.2006" }}</time>
					</a>
				</header>
			</article>
			{{ end }}
		</div>
	</div>	
</main>

{{ partial "footer.html" . }}