{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main t-page notes-page" role="main">
	<div class="wrap">
		<h2 data-title="{{ .Title }}">{{ .Title }}</h2>
			<section class="notes__list">
				{{ range (where .Site.Pages "Params.type" "post") }}
				<article class="notes__article">
					<header role="banner" class="notes__header">
						<time>{{ .Date.Format "02.01.2006" }}</time>
						<h2 class="notes__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
					</header>
				</article>
				{{ end }}
			</section>
	</div>
</main>

{{ partial "footer.html" . }}