@import '../atoms/_glitch'

.hero
	width 100%
	min-height 45vh
	padding 20vh 0
	height 100%
	display flex
	align-items center

	+below(47.25rem)
		padding 0
	
	.wrap
		position relative
	
	p
		position relative
		font-family font-title
		font-size 1.6rem
		a
			color minegray

	h1
		width 60%
		position relative
		margin-bottom 21px
		hyphens auto
		font-size 6rem
		font-weight normal

		+below(47.25rem)
			font-size 3rem