.hero
	padding 0
	
	h2
		set-font-size(16px)
		line-height 1.6
		color var(--text-color)
		margin 0 0 spacing(24px) 0

		strong
			color var(--text-color)
			font-family font-serif
			set-font-size(20px)
			font-style italic
			font-weight 400