.static--list
    list-style-type none
    padding-left 0
    width 100%
    max-width 90%
    margin 0 auto
        
    p
        color #666

    h4
        font-size 3em
        text-transform lowercase

    li
        position relative


.mini-cv
    width 100%
    //padding 21px

    +below(47.25rem)
        padding 0

    &__title
        margin-bottom 2vh

    &__timeline
        width 100%
        display flex

        +below(47.25rem)
            flex-direction column

        li
            padding 0 0 53px 0

.c-skills
    width 100%
    background-color mineviolet
    overflow hidden

    &__section
        display flex
        flex-direction row
        width 100%

        +below(47.25rem)
            flex-direction column

    &__column
        position relative
        overflow hidden
        white-space nowrap


        h3
            color text-site-color
            min-height 40px

    
        .marquee, 
        .marquee-2
            display block
            list-style none
            overflow hidden
            width 100%
            padding 1% 0 1% 0
            text-align center
            

            &:hover
                animation-play-state paused

            li
                display inline-block
                font-size 8rem
                font-family font-title
                margin 0 10px
                
                &:nth-child(odd)
                    color black
                    -webkit-text-stroke 1px white
                    -webkit-text-fill-color transparent
                    font-weight normal

    &__doubleColumn
        display flex
        flex-direction row

        ul
            max-width 50%
            width 100%


@keyframes marquee
    0%
        transform translate(0, 0)
    100%
        transform translate(-100%, 0)

.half
    max-width 100%
    width 100%
    display flex
    flex-direction column
    
    +below(47.25rem)
            max-width 100%