.project__container
    width 100%

.project__wrap
    width 100%

    .wrap--title
        ul
            list-style none
            padding-left 0

            li
                color #666
                text-transform uppercase
                letter-spacing 1px
                font-weight bold
                font-size 1.3rem
                margin 8px 8px 0 0
                display inline-block

                &:after
                    content "."
                    display inline-block

.project__header
    max-width 100%

    h1
        text-transform lowercase

.project__content
    display flex
    flex-direction column
    width 100%
    
    p
        margin-bottom 21px

    a.fancybox
        position relative
        display block
        width 100%
        height 100%

    img
        max-width 1200px

    .half
        max-width 50%
        width 100%
        display flex
        padding 12px 12px 0 0

        &--right
            justify-content flex-end

.content--center
    margin 0 auto
    display block
    text-align center

.content--bgcolor
    background-color inherit

figcaption
    max-width 1200px
    width 100%
    text-align center
    padding 8px 0
    set-font-size(12px)
    margin 0 auto