{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="main t-page lab-page" role="main">
    <!-- <h2 class="t-page__title" data-title="{{ .Title }}">{{ .Title }}</h2> -->
    <!-- <p>Experimentos, testes e protótipos.</p> -->
    <section class="lab__list">
        {{ range where .Site.RegularPages "Type" "lab" }}
        <article class="lab__article">
            <a href="{{ .Permalink }}">
                <h3>{{ .Title }}</h3>
                <time>{{ .Date.Format "02.01.2006" }}</time>
            </a>

            <section class="lab-content">
                <figure>
                    <img src="{{ .Params.featured_image}}" alt="{{ .Title }}">
                </figure>
                {{ .Summary }}
            </section>

        </article>
        {{ end }}
    </section>
</main>


{{ partial "footer.html" . }}