
// Colors

cod-gray = #181818
white = #ffffff
mine-shaft = #151515
ghost-color = rgb(69, 69, 69)
purplerain  = #2900ff
bluegreen = #00ffa3
minegray = #606060
mineviolet = #7545FF
linkhover = #49f767

background-site-color = #E8E9EC
background-footer-color = mine-shaft
text-site-color = #33374C
ghost-color = ghost-color

// Dark Theme

html
    --dark-bg: #161821
    --dark-text: #C6C8D1
    --dark-accent: #84A0C6
    --dark-meta: #8c90a3
    --dark-invert: #df5dff

// Light Theme

html
    --light-bg: #E8E9EC
    --light-text: #33374C
    --light-accent: #2D539E
    --light-meta: #595e74
    --light-invert: #2079ff


@media (prefers-color-scheme: light)
    html
        --background-color: var(--light-bg)
        --text-color: var(--light-text)
        --logo-color: var(--light-accent)
        --link-color: var(--light-accent)
        --title-color: var(--light-text)
        --background-accent-color: var(--light-accent) 
        --menu-color: var(--light-meta)
        --code-inline-color: var(--light-invert)
    
    html.dark-theme
        --background-color: var(--dark-bg)
        --text-color: var(--dark-text)
        --logo-color: var(--dark-accent)
        --link-color: var(--dark-accent)
        --title-color: var(--dark-text)
        --background-accent-color: var(--dark-accent) 
        --menu-color: var(--dark-meta)
        --code-inline-color: var(--dark-invert)

@media (prefers-color-scheme: dark)
    html
        --background-color: var(--dark-bg)
        --text-color: var(--dark-text)
        --logo-color: var(--dark-accent)
        --link-color: var(--dark-accent)
        --title-color: var(--dark-text)
        --background-accent-color: var(--dark-accent) 
        --menu-color: var(--dark-meta)
        --code-inline-color: var(--dark-invert)

    html.light-theme
        --background-color: var(--light-bg)
        --text-color: var(--light-text)
        --logo-color: var(--light-accent)
        --link-color: var(--light-accent)
        --title-color: var(--light-text)
        --background-accent-color: var(--light-accent) 
        --menu-color: var(--light-meta)
        --code-inline-color: var(--light-invert)