cod-gray = #181818
white = #ffffff
mine-shaft = #151515
ghost-color = rgb(69, 69, 69)
purplerain  = #2900ff
bluegreen = #00ffa3
minegray = #606060
mineviolet = #1e045b

link-color = mineviolet
background-site-color = rgb(249, 240, 224)
background-footer-color = white
text-site-color = mine-shaft
ghost-color = ghost-color