@keyframes glitch 
    0%
      text-shadow 1px 0 0 red, -1px 0 0 blue
    1% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    2% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    3% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    4% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    5% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    6% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    7% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    8% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    9% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    10% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    11% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    12% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    13% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    14% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    15% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    16% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    17% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    18% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    19% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    20% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    21% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    22% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    23% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    24% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    25% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    26% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    27% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    28% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    29% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    30% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    31% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    32% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    33% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    34% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    35% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    36% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    37% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    38% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    39% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    40% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    41% 
      text-shadow 25px 0 0 blue, -25px 0 0 #00FFFF
    42% 
      text-shadow 0 0 0 blue, 0 0 0 #00FFFF
    43% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    44% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    45% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    46% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    47% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    48% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    49% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    50% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    51% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    52% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    53% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    54% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    55% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    56% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    57% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    58% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    59% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    60% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    61% 
      text-shadow 15px 0 0 red, -15px 0 0 #00FFFF
    62% 
      text-shadow 0 0 0 red, 0 0 0 #00FFFF
    63% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 blue
    64% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 blue
    65% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 blue
    66% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 blue
    67% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    68% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    69% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    70% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    71% 
      text-shadow 45px 0 0 red, -45px 0 0 blue
    72% 
      text-shadow 0 0 0 red, 0 0 0 blue
    73% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    74% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    75% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    76% 
      text-shadow 1px 0 0 red, -1px 0 0 blue
    77% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    78% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    79% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    80% 
      text-shadow -1px 0 0 red, 1px 0 0 blue
    81% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    82% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    83% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    84% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    85% 
      text-shadow 0.5px 0 0 red, -0.5px 0 0 #00FFFF
    86% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    87% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    88% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    89% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    90% 
      text-shadow -1px 0 0 red, 1px 0 0 #00FFFF
    91% 
      text-shadow 30px 0 0 #00FFFF, -30px 0 0 blue
    92% 
      text-shadow 0 0 0 #00FFFF, 0 0 0 blue
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    93% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    94% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    95% 
      text-shadow 0.7px 0 0 blue, -0.7px 0 0 #00FFFF
    96% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    97% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    98% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    99% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF
    100% 
      text-shadow -1px 0 0 blue, 1px 0 0 #00FFFF