font-sans-serif = 'Inter', sans-serif;
font-sans-serif-bolder = 'Inter', sans-serif;
font-serif = font-sans-serif

set-font-size(_size)
	if unit(_size) == 'px'
		font-size (_size/16)rem
	else
		font-size _size

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	font-family font-sans-serif
	font-weight normal
	color var(--text-color)

h1
	set-font-size 55px
	line-height 120%
	
	+below(47.25rem)
		set-font-size 48px

h2
	set-font-size 28px

h3
	set-font-size 21px

p
	font-family font-serif
	set-font-size 16px
	line-height 170%
	margin 0

a 
	text-decoration underline
	text-decoration-color var(--meta-color)
	color var(--text-color)
	transition color .4s

	&:hover
		color var(--menu-color)

pre
	margin-bottom 40px

time
	color var(--light-meta)
	font-weight normal
	set-font-size 13px
	font-family font-sans-serif

[loading=lazy]
	transition opacity 0.5s

strong
	font-family font-sans-serif-bolder