@font-face
    font-family 'Circular Std'
    src url('../fonts/CircularStd-Book.eot')
    src url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.ttf') format('truetype'),
        url('../fonts/CircularStd-Book.svg#CircularStd-Medium') format('svg');
    font-weight 500
    font-style normal
    font-display swap

font-serif = 'Libre Baskerville', serif
font-sans-serif = 'Circular Std', sans-serif

font-title = 'Libre Baskerville', serif
font-text = 'Circular Std', sans-serif 
font-link = font-text

set-font-size(_size)
	if unit(_size) == 'px'
		font-size (_size/16)rem
	else
		font-size _size

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	font-family font-serif
	font-weight normal
	color var(--text-color)

h1
	set-font-size 80px
	line-height 120%
	
	+below(47.25rem)
		set-font-size 48px

h2
	set-font-size 64px

h3
	set-font-size 48px

p
	font-family font-serif
	set-font-size 16px
	line-height 140%
	margin 0

a 
	text-decoration none
	color var(--link-color)
	transition .4s

	&:hover
		color var(--code-inline-color)
		transition .4s

pre
	margin-bottom 40px