font-sans-serif = 'Inter', sans-serif;
font-serif = 'Newsreader', serif

set-font-size(_size)
	if unit(_size) == 'px'
		font-size (_size/16)rem
	else
		font-size _size

h1,
h2,
h3,
h4,
h5,
h6
	margin 0
	font-family font-sans-serif
	font-weight normal

h1
	set-font-size 55px
	line-height 120%

h2
	set-font-size 28px

h3
	set-font-size 21px

h4
	set-font-size 16px
	color var(--text-secondary-color)
	font-weight 400
	margin-bottom spacing(21px)

p
	font-family font-sans-serif
	set-font-size 16px
	line-height 170%
	margin 0

	em
		font-family font-serif
		set-font-size 20px

a
	color var(--text-color)
	transition color .4s
	text-decoration none

	&:hover
		color var(--text-secondary-color)

pre
	margin-bottom 40px

time
	color var(--text-secondary-color)
	font-weight normal
	set-font-size 13px
	font-family font-sans-serif

[loading=lazy]
	transition opacity 0.5s

strong
	font-weight bold

em
	font-family font-serif

code
	border 1px solid var(--divider-color)
	border-radius 4px
	padding 0 spacing(8px)
	color var(--accent-color)

figcaption
	set-font-size(14px)
	margin spacing(8px) auto
	width 100%
	display block
	text-align center
	color var(--text-secondary-color)

blockquote
	margin 0
	quotes "\201C" "\201D" "\2018" "\2019"
	margin-bottom spacing(16px)

	&:before
		content: open-quote
		line-height 0.1em
		margin-right .1em
		vertical-align -0.4em
		font-size 4em
		font-family font-serif
		color var(--text-secondary-color)
	
	p
		font-family font-serif
		set-font-size(20px)
		display inline
		color var(--text-secondary-color)