.footer
	width 100%
	position relative
	padding-bottom spacing(120px)

	&-logos
		display flex
		flex-direction row
		padding spacing(16px)
		
		svg
			max-height 20px
			
			path
				fill #444444
				transition .4s

		a
			transition .4s

			&:hover
				path
					fill white
				transition .4s

.connect
	border-top 1px solid #1c1c1c
	padding-top spacing(24px)

	p
		color var(--text-secondary-color)

		a
			color var(--text-color)

.avatar
	display block
	margin 0 0 spacing(21px) 0
	max-width max-content

	img
		max-width 100px
		width 100%
		border-radius 100%
		transition .4s

		&:hover
			opacity .6
			transition .4s