.footer
	width 100%
	padding 2vw 0 4vw 0
	font-family font-title
	
	.wrap
		border-top 2px solid #eee
		padding 10px 0

	.contact
		width 100%
		text-align center
		padding 10vh 0

	&__bottom
		width 100%
		display flex
		flex-direction row

	&__social
		display flex
		flex-direction column
		flex-grow 1
		font-size 1.6rem
		
		ul
			list-style-type none
			margin 0
			padding-left 0
			display inline-block
			width 100%
			
			li
				margin 0 10px
				display inline-block
				letter-spacing 1px
				text-transform uppercase
				font-weight bold
				font-size 1.2rem
				
				a
					color inherit
				
				&:last-child
					margin-right 0
				

	&__copy
		display flex
		flex-direction row
		flex-grow 1
		justify-content flex-end
		
		p
			color ghost-color
			font-size 1.4rem
			
[data-available=on]:before
	background-color #00ff14
	
[data-available=off]:before
	background-color #ff005e

#button
	opacity 0
	visibility hidden
	transition .4s
	position fixed
	bottom 5%
	right 5%
	z-index 50

#button.show
	opacity 1
	visibility visible
	transition .4s

#button svg
	max-width 40px

/*
* Footer component
*/

.footer-infos
	width 100%
	display flex
	flex-direction column

	.col
		width 100%
		display flex
		padding-bottom 10vh
		padding 22px

		+below(756px)
			flex-direction column

		&__left
			display flex
			flex-grow 1
			max-width 40%
			width 100%

			+below(756px)
				max-width 100%
				flex-grow 1

		&__right
			display flex
			flex-grow 3
			max-width 60%
			width 100%
			
			+below(1024px)
				max-width 100%
				flex-grow 1

		h4
			text-transform uppercase
			letter-spacing 1px
			font-size 1.3rem
		
		ul
			list-style-type none
			padding-left 0

			li
				width 100%
				margin-bottom 18px
				a
					color text-site-color
					&:after
						content ""
						width 0
						height 2px
						background-color black
						display block
						transition .4s ease
						margin-top 5px
				
					&:hover
						color black
						transition .4s
						&:after
							width 100%

		p
			a
				color text-site-color
				font-weight bold
				font-size 2rem