.header
	width 100%
	display flex
	flex-direction row
	align-items center
	background-color alpha(#101010, 0.7)
	backdrop-filter blur(4px)

	+below(739px)
		flex-direction column
		padding spacing(16px)
	
	+above(740px)
		position fixed
		bottom 0
		padding 0 spacing(21px)
		z-index 10

	h1
		set-font-size(16px)
		width 100%

		a
			text-decoration none

			&:hover
				color var(--link-color)