.header
	padding spacing(72px) 0 0 0

	a
		display block
		margin 0 0 spacing(21px) 0 
		max-width max-content

		img
			max-width 100px
			width 100%
			border-radius 100%
			transition .4s

			&:hover
				opacity .6
				transition .4s
	h1
		padding-bottom spacing(16px)
		set-font-size(18px)
		line-height 1.6