.main
    &__wrapper
        width 100%
        padding spacing(80px) 0
        display flex
        flex-direction row

        @keyframes reveal
            0%
                transform translateY(30px)
            100%
                transform translateY(0)

        +below(break)
            flex-direction column
            padding-bottom 0
    
    &__left,
    &__right
        width 50%
        padding 0 spacing(32px)

        +below(break)
            width 100%

/* Left */
.site-intro
    padding-top spacing(120px)
    
    h1
        set-font-size(16px)
        font-weight bold
        margin-bottom spacing(16px)

    h2
        set-font-size(14px)
        line-height 170%
        font-family font-serif
        set-font-size(18px)
        font-style italic

        em
            set-font-size(18px)
    
    p
        margin spacing(32px) 0
        set-font-size(14px)
        max-width 75%
        width 100%

        +below(break)
            max-width 100%

.section-fixed
    position fixed
    max-width 45%

    +below(break)
        position relative
        max-width 100%

/* Right */
.home__portfolio
    padding-top spacing(120px)
    //animation reveal ease .4s forwards

/* Gallery type */
.gallery-view
    display grid
    grid-template-columns repeat(3, 1fr)
    grid-gap spacing(16px)

    figure
        margin-bottom 0!important