.top-nav
	ul
		list-style-type none
		width 100%
		margin 0
		padding 0
		display flex
		flex-direction row
		justify-content flex-end
		font-size 1.8rem
		
		+below(47.25rem)
			flex-direction column

		li
			display inline-block
			margin 0 25px

			&:last-child
				margin-right 0
				
			a
				color #666
				text-decoration none
				position relative
				font-family font-text
				transition .4s
				
				&:hover
					color white
					transition .4s