.navigation
	width 100%
	display flex
	flex-direction row
	
	ul
		list-style-type none
		width 100%
		margin 0
		padding 0
		display flex
		flex-direction row
		justify-content flex-end
		set-font-size 16px

		+below(739px)
			justify-content flex-start

		li
			display inline-block
			margin-right spacing(32px)
			font-family font-sans-serif
			color var(--menu-color)
			text-transform uppercase
			font-weight bold
			set-font-size(14px)
			

			&:first-child
				margin-left 0
				
			a
				text-decoration none
				position relative
				color inherit
				transition .4s
				overflow hidden
				display inline-block

				&:before,
				&:after
					content ""
					position absolute
					width 100%
					left 0



				&:after
					content attr(data-replace)
					height 100%
					top 0
					transform-origin 100% 50%
					transform translate3d(200%, 0, 0)
					transition transform .3s cubic-bezier(0.76, 0, 0.24, 1)
					color var(--link-color)

				&:hover
					&:after
						transform translate3d(0,0,0)
					
					span
						transform translate3d(-200%, 0, 0)
				
				span
					display inline-block
					transition transform .3s cubic-bezier(0.76, 0, 0.24, 1)
					