	<footer class="footer" role="contentinfo">
		<div class="footer-infos">
			<div class="wrap">
				<nav class="col">
					<ul>
						<li><a href="https://atlasnesos.space/" target="_blank" class="atlas-logo" title="Atlas" rel="noopener">
							<svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M20.5395 0.273743H4.61232V3.6867H8.47977L0.0617065 12.1048L2.47504 14.5181L12.5309 4.46227L22.5867 14.5181L25 12.1048L16.5819 3.6867H20.5395V0.273743Z" fill="#DCDCDC"/>
								</svg>
						</a></li>
						<li><a href="/leituras">leituras</a></li>
						<li><a href="/links">links</a></li>
						
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
	<script src="{{ .Site.BaseURL }}javascript/app.js"></script>
	</body>
</html>