	<footer class="footer" role="contentinfo">
		<div class="footer-infos">
			<div class="wrap">
				<div class="col">
					<ul>
						<li><a href="mailto:frnd@null.net" title="Fala comigo">frnd@null.net</a></li>
					</ul>
				</div>
				<div class="col">
					<nav class="bottom-nav" role="navigation">
						<ul>
							<!-- <li><a href="/now" title="O que eu to fazendo agora">now</a></li> -->
							<li><a href="/links" title="Meus links">links</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>
	<script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
	<script src="{{ .Site.BaseURL }}javascript/app.js"></script>
	</body>
</html>