<main class="main__wrapper">
    <div class="main__left">
        <article class="site-intro">
            <div class="section-fixed">
                <h1 class="shuffle">Fernando Soares</h1>
                <h2><em>Designer de Interfaces</em></h2>

                <p>Designer com conhecimento e experiência em Front-End.<br>
                    Apaixonado por interfaces e em entender como elas funcionam e se comportam.
                </p>
            </div>
        </article>
    </div>
    <div class="main__right">
        <div class="home__portfolio">
            {{ range first 10 (where .Site.RegularPages "Params.type" "portfolio") }}
            <article class="portfolio__item">
                <header>
                    <a href="{{ .Permalink }}" title="{{ .Title }}">
                        <h3>{{ .Title }}</h3>
                        <h4>{{ .Params.cat }}</h4>
                    </a>
                </header>

                <section class="portfolio__content">
                    <a href="{{ .Permalink }}" title="{{ .Title }}">
                        <figure class="portfolio__featured-image">
                            <img src="{{ .Params.featured_image }}" alt="{{ .Title }}">
                        </figure>
                    </a>
                </section>
            </article>
            {{ end }}

            <article class="portfolio__item">
                <header>
                    <a href="/feed" title="Feed">
                        <h3>Feed</h3>
                        <h4>Testes, Experimentos e Conceitos</h4>
                    </a>
                </header>

                <section class="portfolio__content">
                    <a href="/feed" title="Feed">
                        <figure class="portfolio__featured-image">
                            <img src="/uploads/feed/ios-camera-icon.png" alt="iOS Camera">
                        </figure>
                    </a>
                </section>
            </article>
        </div>
    </div>
</main>