<main class="main" role="main">
	<div class="wrap">
		<section class="notes__list notes__home">
			<h4>Notes</h4>
			{{ range first 5 (where .Site.Pages "Params.type" "post") }}

			<article class="notes__article">
				<header role="banner" class="notes__header summary__home">
					<time>{{ .Date.Format "02.01.2006" }}</time>
					<h3 class="notes__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
					
					<!-- {{ partial "tags.html" . }} -->
				</header>
			</article>
			{{ end }}

			<a href="/notes" title="veja todas">Todas ›</a>
		</section>
	</div>
</main>