<section class="minibio">
    <div class="wrap">
        <div class="half half--left">
            <ul>
                <li data-appear>ux <strong>design</strong></li>
                <li data-appear>ui <strong>design</strong></li>
                <li data-appear>front end <strong>design</strong></li>
            </ul>
        </div>

        <div class="half">

            <p>Desde landing pages à interfaces para óculus VR, meu foco é no design de interfaces inteligentes, balanceando funcionalidade com visual.
            Alio muito meu conhecimento em desenvolvimento front end com minha paixão por design, resultando em interfaces consistentes e focadas no usuário.</p>

            <p>Gosto muito de testar novas ideias e conceitos mas, principalmente, estudar o comportamento do usuário.</p>

            <p>Já trabalhei com variados segmentos e para empresas como <strong>Massey Fergusson</strong>, <strong>Valtra</strong>, <strong>RIC Record</strong>, <strong>Figueirense FC</strong> e <strong>Imobiliária Brognoli</strong> na grande Florianópolis.</p>

            <a href="/sobre">leia mais</a>
        </div>
    </div>
</section>