<section class="now">
	<h4>Agora</h4>
	<p>Aprimorando técnicas em design system e buscando entender o usuário. Sou apaixonado por
		interfaces e em estudar e entender como ela se parece e se comporta. Me aperfeiçoando
		em <em>icon design</em>.</p>
</section>

<section class="notes">
	<h4>Notes</h4>
		{{ range first 10 (where .Site.Pages "Params.type" "post") }}

		<article>
			<header role="banner">
				<a href="{{ .Permalink }}">
					<time>{{ .Date.Format "02.01.2006" }}</time>
					<h3>{{ .Title }}</h2>
				</a>
			</header>
		</article>
		{{ end }}
</section>