<section class="works" id="works">
	<div class="wrap--wide">
		<!-- <section class="grid-container" id="grid-container">
			<article class="grid-slot">
				<a href="#">
					<figure>
						<img src="/images/works/place-1.png" alt="Spotify VisionOS">
					</figure>
					<h5>Spotify VisionOS</h5>
				</a>
			</article>

			<article class="grid-slot">
				<a href="#">
					<figure>
						<img src="/images/works/place-2.png" alt="Icons">
					</figure>
					<h5>Align Icons</h5>
				</a>
			</article>

			<article class="grid-slot">
				<a href="#">
					<figure>
						<img src="/images/works/place-3.png" alt="Sunny">
					</figure>
					<h5>Sunny</h5>
				</a>
			</article>

			<article class="grid-slot">
				<a href="#">
					<figure>
						<img src="/images/works/place-4.png" alt="App Icons">
					</figure>
					<h5>App Icons</h5>
				</a>
			</article>

			<article class="grid-slot">
				<a href="#">
					<figure>
						<img src="/images/works/place-5.png" alt="App Icons">
					</figure>
					<h5>App Icons</h5>
				</a>
			</article>

			<article class="grid-slot">
				<a href="#">
					<figure>
						<img src="/images/works/place-6.png" alt="App Icons">
					</figure>
					<h5>App Icons</h5>
				</a>
			</article>
		</section> -->
	</div>
</section>

<section class="notes">
	<div class="wrap">
		<h4>Notes</h4>
			{{ range first 6 (where .Site.Pages "Params.type" "post") }}

			<article>
				<header role="banner">
					<a href="{{ .Permalink }}">
						<h3>{{ .Title }}</h2>
						<time>{{ .Date.Format "02.01.2006" }}</time>
					</a>
				</header>
			</article>
			{{ end }}
	</div>
</section>