<section class="works" id="works">
	<div class="wrap">
		
		<section class="grid-container" id="grid-container">
			<article class="grid-slot">
				<a href="https://dribbble.com/shots/21812203-Spotify-VisionOS-Concept" target="_blank">
					<img src="/images/works/spotify-visionOS-01.png" alt="Spotify VisionOS">
					<div class="grid-overlay">
						<h5>Spotify VisionOS</h5>
					</div>
				</a>
			</article>

			<article class="grid-slot">
				<a href="https://dribbble.com/shots/21131777-Alignment-Icons" target="_blank">
					<img src="/images/works/icons.webp" alt="Icons">
					<div class="grid-overlay">
						<h5>Align Icons</h5>
					</div>
				</a>
			</article>

			<article class="grid-slot">
				<a href="https://dribbble.com/shots/21112705-Weather-App-Exploration" target="_blank">
					<img src="/images/works/weather-app.webp" alt="Weather App">
					<div class="grid-overlay">
						<h5>Weather App</h5>
					</div>
				</a>
			</article>

			<article class="grid-slot">
				<a href="https://dribbble.com/shots/20968323-CRM-Dashboard" target="_blank">
					<img src="/images/works/crm-dashboard.webp" alt="CRM Dashboard">
					<div class="grid-overlay">
						<h5>CRM Dashboard</h5>
					</div>
				</a>
			</article>
		</section>
	</div>
</section>

<section class="notes">
	<div class="wrap">
		<h4>Notes</h4>
			{{ range first 6 (where .Site.Pages "Params.type" "post") }}

			<article>
				<header role="banner">
					<a href="{{ .Permalink }}">
						<h3>{{ .Title }}</h2>
						<time>{{ .Date.Format "02.01.2006" }}</time>
					</a>
				</header>
			</article>
			{{ end }}
	</div>
</section>