.links__wrap
    display grid
    grid-template-columns 1fr 1fr 1fr
    grid-gap 21px

    a
        background-color #171717
        display flex
        flex-direction column
        padding 65px 15px 15px 15px
        border-radius 5px
        color var(--text-color)
        transition .4s
        font-weight normal

        &:after
            content none!important

        i
            margin-bottom 10px
            max-height 24px

        svg path
            fill var(--text-color)
            transition .4s

        &:hover
            color var(--link-color)
            transition .4s

            svg path
                fill var(--link-color)
                transition .4s