.notes
	width 100%
	padding spacing(24px) 0

	article
		padding-bottom spacing(24px)
	
	header
		a
			width 100%
			display flex
			align-items center
			justify-content space-between

			time
				max-width 71px
				width 100%
				text-align right

			&:hover
				transition .4s

				
				h3
					color var(--text-secondary-color)
					transition .4s
		
		h3
			transition .4s
			set-font-size 16px
			text-decoration underline

.notes-page
	padding-bottom spacing(24px)
	border-top 1px solid var(--divider-color)
	padding-top spacing(24px)