.notes
	&-page
		padding-top 10vh

	&__article
		margin-bottom 10vh
		position relative

		&:last-child
			border-bottom 0
	
	&__header
		width 100%
	
	&__title
		color var(--text-color)
		font-weight normal
		width 75%

		+below(47.25rem)
			set-font-size 34px
			width 100%

		a
			color inherit
	
	&__content
		p
			margin 0 0 20px 0