.notes
	width 100%

	article
		padding spacing(21px) 0

		&:not(:last-child)
			border-bottom 1px solid #1c1c1c
	
	header
		a
			width 100%
			display flex
			justify-content space-between
			align-items center

			&:hover
				transition .4s
				
				h3
					color var(--text-secondary-color)
					transition .4s
		
		h3
			transition .4s
			set-font-size 16px