.portfolio
    &__item
        margin-bottom spacing(48px)

        h2
            set-font-size(26px)
            margin-bottom spacing(8px)

        h3
            set-font-size(20px)
            margin-bottom spacing(8px)

        h4
            set-font-size(16px)
        
        time
            margin-bottom spacing(16px)
            display block

        p, iframe
            margin-bottom spacing(24px)

        figure
            max-width 100%
            margin 0 0 spacing(24px) 0
            border-radius 5px

        img
            max-width 100%
            width 100%
            border-radius 5px
            height auto
            display block
            margin 0

    &__featured-image
        overflow hidden
        -webkit-perspective 1000
        -webkit-backface-visibility hidden
        transition .4s

        img
            transition .4s
        

        &:hover
            img
                transform scale(1.1)
                transition .4s

    &__content
        a
            text-decoration underline
        
        figure
            margin spacing(24px) 0


#carousel
    --f-carousel-slide-height 60%
    --f-carousel-spacing 10px
    height auto

.f-carousel__slide
    padding 50px

.f-carousel__dot
    background-color var(--text-secondary-color)!important