.bread
	list-style none
	padding-left 0
	width 100%
	display flex
	flex-direction row

	li
		set-font-size(14px)

		&:not(:last-child)
			margin-right spacing(4px)

			&:after
				content "/"
				margin-left spacing(4px)
				color #7A7A7A
		a
			text-decoration none
			color var(--link-color)

.article
	&__container
		max-width wrap-max-width
		width 100%
		margin 0 auto
		position relative

		a
			color var(--meta-color)

	&__header
		margin-bottom 4vh
		width 100%

		h1
			set-font-size 36px
			font-family font-serif
			font-weight 400
			margin-bottom spacing(8px)
		
		time
			margin 0 auto
			display block

	&__wrap
		width 100%
		margin 0 auto
		padding 2vh 0 2vh 0

		+below(47.25rem)
			center(wrap-max-width)
			padding 0 0 2vh 0

	&__summary
		max-width 780px
		width 100%
		margin 23px 0 0 0

		+below(47.25rem)
			center(wrap-max-width)

		.read-more
			background embedurl('/images/arrow-right.svg') no-repeat left
			padding 25px 0 25px 25px

	&__content
		width 100%
		margin-bottom spacing(24px)

		ul
			margin-bottom 56px

		li
			margin-bottom 12px
			line-height 1.5

		pre, code
			clear both
		
		code
			width 100%
			border-radius 5px
			padding 20px

		pre
			width 100%
			background-color transparent!important
			border-radius 5px

		p
			margin-bottom spacing(40px)

			code
				padding 0 3px
				color var(--text-color)
				set-font-size 16px
				margin 0 5px
				border 1px solid var(--zebra-color)

		a
			color var(--link-color)
			transition .4s

			&:hover
				color var(--menu-color)
				transition .4s

			&[target='_blank']:after
				content embedurl('/images/external-link.svg')
				margin 0 3px 0 5px
				opacity .4

		h2
			margin-bottom spacing(16px)
			font-family font-sans-serif-bolder
			font-weight 700
			set-font-size 32px

		h3
			margin-bottom 12px
			set-font-size 24px
			font-weight 500

		h4
			set-font-size 16px

		img
			display block
			margin 0 auto

		blockquote
			padding 20px
			width 100%
			margin-left 0
			margin-bottom 6vh
			position relative
			
			&:before
				content ""
				display inline-block
				position absolute
				left 0
				top 15px
				z-index 0
				width 4px
				height 75%
				background-color var(--link-color)

			p
				margin-bottom 0
				set-font-size 20px

		figcaption
			color var(--menu-color)

			p
				set-font-size 14px

		&--tags
			display inline-block
			padding-left 0
			font-family font-sans-serif
			margin 0 0 0 5px

			li
				display inline-block
				set-font-size 14px

				&:not(:last-child):after
					content ""
					color var(--light-meta)

				a
					color var(--light-meta)

					&:hover
						color var(--link-color)

		[data-fancybox]
			margin-bottom spacing(24px)
			display block

	&__footer
		display flex
		flex-direction row
		justify-content center
		border-top 1px solid rgba(255,255,255,.05)
		padding-top 21px

		a
			display block
			margin 0 auto
			padding 12px
			set-font-size 18px


.navigation
	.wrap
		border-top 1px solid #111

.btn-back
	a
		background embedurl('/images/arrow-right.svg') no-repeat
		padding 25px
		display block
		margin 0 auto
		transform rotate(-180deg)
		max-width 50px
		width 100%
		text-indent -9999px

pre code
	padding 2em!important


.dark-theme .article__content img[src$='#ilustra']
	filter contrast(0) brightness(1.6)

.light-theme .article__content img[src$='#ilustra']
	filter contrast(1)