.article
	&__container
		max-width wrap-max-width
		width 100%
		margin 0 auto
		position relative

	&__header
		h1
			margin-bottom 10px

	&__wrap
		max-width 780px
		width 100%
		margin 0 auto
		padding 20vh 0

		+below(47.25rem)
			center(wrap-max-width)

	&__summary
		max-width 780px
		width 100%
		margin 21px auto 0

		+below(47.25rem)
			center(wrap-max-width)

	&__content,
	&__summary
		width 100%

		pre, code
			clear both
		
		code
			width 100%
			border-radius 5px
			padding 20px

		pre
			width 100%
			padding 16px

		p
			margin-bottom 6vh
			font-size 1.8rem

		a
			color link-color
			font-weight bold