
.simple-static-container
	column(6/6)
	position relative

.simple-static-cover
	margin 20px 0

.simple-static-title
	color white

/* sobre */
.about-page
	section
		background-color #141414
		padding 54px 0
		margin 40px 0
		
		.page__wrap
			max-width 1020px

			+above(47.26rem)
				column-count 2

		.btn-cv
			background-color #6f5be4
			color #111
			font-weight bold
			display block
			width max-content
			padding 10px 15px
			border-radius 5px

	img
		border-radius 5px

	article
		p
			set-font-size 22px